<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:view-controller path="/login" view-name="home"/>
    <!-- USER BEANS - Define your beans heere -->

    <bean id="baseDao" class="com.i9.daos.impls.BaseDaoImp"/>


    <bean id="projectDao" class="com.i9.daos.impls.ProjectDaoImp">
        <property name="baseDao" ref="baseDao"/>
    </bean>

    <bean id="projectService" class="com.i9.services.impls.ProjectServiceImp">
        <property name="projectDao" ref="projectDao"/>
    </bean>

    <bean id="clientDao" class="com.i9.daos.impls.ClientDaoImp">
        <property name="baseDao" ref="baseDao"/>
    </bean>

    <bean id="clientService" class="com.i9.services.impls.ClientServiceImp">
        <property name="clientDao" ref="clientDao"/>
    </bean>

    <bean id="employeeDao" class="com.i9.daos.impls.EmployeeDaoImp">
        <property name="baseDao" ref="baseDao"/>
    </bean>

    <bean id="employeeService" class="com.i9.services.impls.EmployeeServiceImp">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <bean id="employeeHoursPerDayDao" class="com.i9.daos.impls.EmployeeHoursPerDayDaoImp">
        <property name="baseDao" ref="baseDao" />
        <property name="employeeDao" ref="employeeDao" />
    </bean>

    <bean id="phaseDao" class="com.i9.daos.impls.PhaseDaoImp">
        <property name="baseDao" ref="baseDao" />
        <property name="employeeHoursPerDayDao" ref="employeeHoursPerDayDao" />
    </bean>

    <bean id="PhaseService" class="com.i9.services.impls.PhaseServiceImp">
        <property name="phaseDao" ref="phaseDao" />
    </bean>
</beans>